/****************************
Element Styles
*****************************/
* {
   box-sizing: border-box;	
	
	}



body {
	   font: normal 1em/1.6 'Montserrat', sans-serif;
	   background: #fff;
	  
}





h1,
h2,
h3,
a,
footer{
    margin: 0;
	font-family: 'Poiret One', cursive, sans-serif;
	color: #2f0707;
	text-shadow: 0 1px 2px #000;
}


p {
	font-size: 0.95em;
	margin-bottom: 1.8em;
	color: #160606;
	
}





img {
 max-width : 100%;
 margin-bottom: 1.25em;
 /*border: 2px solid #CF3;*/	
}







a {
   text-decoration: none;
  
	
}








/*******************************************************************
Base Layout Styles
********************************************************************/
/*************
Main Header
**************/

.main-header {
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 100;
   /*border: 2px solid #030;*/
	
}




/*************
Main Nav
**************/

.main-nav,
.main-footer{
background: #110202;
box-shadow: 0 5px 3px -4px #666666;
height: 68px;

/*border: 2px solid #FF0;*/
}


.main-logo {
	margin:0 0 0 -5px;
    width: 200px;
	display: inline-block;
   /*border: 2px solid #F30;*/

}





/*******************************
     Layout Containers 
*******************************/
main {
	margin: 65px 0 0 0;
}


main .inner-container {
	width: 90%;
	margin: 0 auto;
	/*border: solid 1px #F30E12;*/
}


#home .inner-container {
	text-align: center;
}

.inner-container h2 {
	font-size: 2.5em;
}

#home-banner {
	background: #ffecd2;
	background: linear-gradient(#fff 0%, #fff 50%, #ffecd2 100%);	
	padding: 1em 0;
	/*margin: 63px 0 0 0;*/
}


.versatile-dancerText,
#commercial-wrapper,
#lyrical-wrapper {
	padding: 2em 0;
}


.versatile-dancerText {
	background: #ffecd2;
	background: linear-gradient(#ffecd2, #fff);	
	
}


#commercial-wrapper {
	background: linear-gradient(#fff  70%, #fcb69f);
	
}

#commercial-wrapper h3,
#lyrical-wrapper h3{
	font-size: 1.6em;
}


#lyrical-wrapper{
	background: linear-gradient(to top, #fff  70%, #fcb69f);
	
}

#class-details .top-image {
	margin-bottom: 2em;
}

#class-details .bottom-image {
	margin-top: 2em;
}

#class-details {
	background: linear-gradient(#fff 30%, #ffecd2 45%,#fff 76%);	
}

#class-details h2 {
	font-size: 1.5em;
}

#class-details p,
address{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1em;
	text-shadow: 0 1px 1px #000;
}

#contact {
	padding-bottom: 2em;
	background: linear-gradient(#ffecd2, #fff, #ffecd2 );	
	}


#contact .inner-container {
	width: 100%;
}


.class-deal + p{
	
	padding: 1em;
	/*width: 80%;
	margin: 0 auto;*/
}

.class-deal h2 {
	font-size: 1.9em;
	color: #f00;
}


a[href^="mailto:"],
a[href^="tel:"]{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	color: #000;
}

a[href^="tel:"]{
	font-size: 1.2em;
}

.main-footer {
	height: 200px;
	padding: 0.5em 0;
	box-shadow: none;
	border-top: 5px solid #f00;
	
}

.main-footer p,
.main-footer a {
	text-align: center;
	color: #ffecd2;
}

.main-footer p {
	margin: 0.5em 0;
	margin-bottom: 0;
}


.socialMedia-links {
	max-width: 300px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	/*border: solid 1px blue;*/
}

.socialMedia-links li{
	float: left;
	/*border: solid 1px green;*/
}

.socialMedia-links li a{
	display: block;
	width: 90px;
	padding: 14px 16px;
	/*border: solid 1px green;*/
}


.socialMedia-links img { 
	display: inline;
	margin-bottom: 0;
	
	
	/*border: solid 1px blue;*/
}

/*******************************
    Page Elements
*******************************/

/***GENERAL ACROSS ALL PAGES***/







/***GENERAL ACROSS ALL PAGES ENDS***/







	
	











/*******************************************************************
MEDIA QUERIES
********************************************************************/

@media (min-width: 480px), (min-width: 500px) and (orientation: landscape) {
	
	
}


@media (min-width: 768px), (min-width: 1024px) and (orientation: landscape) {
	
	
}



@media (min-width: 1140px) {
	
}
