@charset "utf-8";
/* CSS Document */

/****************************
Element Styles
*****************************/

* {
	box-sizing: border-box;
}
body {
	font: normal 1em/1.6 'Montserrat', sans-serif;
	background: #fff;
}

h1,
h2,
h3,
a,
footer {
	margin: 0;
	font-family: 'Poiret One', cursive, sans-serif;
	color: #2f0707;
	text-shadow: 0 1px 2px #000;
}

p {
	font-size: 0.95em;
	margin-bottom: 1.8em;
	padding: 1em;
	color: #160606;
}


img {
	max-width: 100%;
	margin-bottom: 1.25em;
	/*border: 2px solid #CF3;*/
}


a {
	text-decoration: none;
}
/*******************************************************************
Base Layout Styles
********************************************************************/


/*************
Main Header
**************/

.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	/*border: 2px solid #030;*/
}
/*************
Main Nav
**************/

.main-nav, 
.main-nav .inner-container {
	height: 68px;
	/*border: 2px solid #FF0;*/
}



#menu-nav {
	display: none;
}


#menu-nav li {
	margin: 0 20px;
	padding: 5px 10px;
	font-size: 1.6em;
	text-align: center;
	border: solid 2px #ffecd2;
}


#menu-nav li a {
	color: #ffecd2;
	text-shadow: 0 1px 1px #fff;
}



.main-nav,
.main-footer {
	background: #110202;
	box-shadow: 0 5px 3px -4px #666666;
	/*border: 2px solid #FF0;*/
}


.main-logo {
	margin: 0 0 0 -5px;
	width: 200px;
	display: inline-block;
	/*border: 2px solid #F30;*/
}


#menuToggle {
	display: block;
	position: relative;
	top: -60px;
	right: -245px;
	z-index: 1;
	user-select: none;
	width: 362px;
	/*background: green;*/
}


#menuToggle input {
	display: block;
	width: 50px;
	height: 40px;
	position: absolute;
	top: -4px;
	right: 309px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}


#menuToggle span {
	display: block;
	width: 47px;
	height: 4px;
	margin-top: 10px;
	margin-left: 6px;
	/*iPone 6 up needs 115px*/
	background: #ffecd2;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}


#menuToggle span:first-child {
	transform-origin: 0% 0%;
}


#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}



#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #ffecd2;
}



#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}



#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}


#menu {
	position: absolute;
	width: 300px;
	margin: 0 0 0 61px;
	padding: 10px 50px 5px 10px;
	background: rgba(17, 2, 2, 0.7);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/*to stop flickering of text in safari */
	/*border: 2px solid #f00;*/
	transform-origin: 0% 0%;
	transform: translate(60%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


#menu li, #menu li a {
	display: block;
}


#menu li {
	display: block;
	margin: 10px 0;
	padding: 10px 10px 10px 20px;
	font-size: 1.3em;
	text-align: left;
	border: solid 2px black;
}


#menu li a {
	width: 150px;
	margin: 0 0;
	padding: 0 10px 10px 20px;
	color: #ffecd2;
	text-shadow: 0 1px 1px #fff;
	border: none;
}


#menuToggle input[type=checkbox]:checked~#menu {
	transform: none;
	margin: 17px 0 0 -53px;
}
/*******************************
     Layout Containers 
*******************************/

main {
	margin: 65px 0 0 0;
}


main .inner-container {
	width: 99%;
	margin: 0 auto;
	/*border: solid 1px #F30E12;*/
}


#home .inner-container {
	text-align: center;
}


.inner-container h2 {
	font-size: 2.5em;
}


#home-banner {
	background: #ffecd2;
	background: linear-gradient(#fff 0%, #fff 50%, #ffecd2 100%);
	padding: 1em 0;
	/*margin: 63px 0 0 0;*/
}


.versatile-dancerText,
#commercial-wrapper,
#lyrical-wrapper {
	padding: 2em 0;
}


.versatile-dancerText {
	background: #ffecd2;
	background: linear-gradient(#ffecd2, #fff);
}


#commercial-wrapper {
	background: linear-gradient(#fff 70%, #fcb69f);
}


#commercial-wrapper h3, #lyrical-wrapper h3 {
	font-size: 1.6rem;
}


#lyrical-wrapper {
	background: linear-gradient(to top, #fff 70%, #fcb69f);
}


#class-details .top-image {
	margin-bottom: 2em;
}


#class-details .bottom-image {
	margin-top: 2em;
}


#class-details {
	background: linear-gradient(#fff 30%, #ffecd2 45%, #fff 76%);
}


#class-details h2 {
	font-size: 1.5em;
}


#class-details p, address {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1em;
	text-shadow: 0 1px 1px #000;
}


#contact {
	padding-bottom: 2em;
	background: linear-gradient(#ffecd2, #fff, #ffecd2);
}


#contact .inner-container {
	width: 100%;
}


.divide-mobile {
	height: 5px;
	border-style: none;
	background: #f00;
	box-shadow: 0 1px 1px 1px #666666;
}


.class-deal h2 {
	font-size: 1.9em;
	color: #f00;
}


a[href^="mailto:"],
a[href^="tel:"] {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.950em;
	color: #000;
}


#contact h3~p {
	padding: 0;
}


a[href^="tel:"] {
	font-size: 1.2em;
}


.main-footer {
	height: 330px;
	padding: 0.5em 0;
	box-shadow: none;
	border-top: 5px solid #f00;
}


.main-footer p, .main-footer a {
	text-align: center;
	color: #ffecd2;
}


.social-media {
	visibility: hidden;
}


.main-footer p {
	margin: 0.5em 0;
	margin-bottom: 0;
}


.socialMedia-links {
	max-width: 300px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	/*border: solid 1px blue;*/
}


.socialMedia-links li {
	float: left;
	/*border: solid 1px green;*/
}


.socialMedia-links li a {
	display: block;
	width: 90px;
	padding: 14px 16px;
	/*border: solid 1px green;*/
}


.socialMedia-links img {
	display: inline;
	margin-bottom: 0;
	/*border: solid 1px blue;*/
}


.socialMedia-links li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all.3s;
	-moz-transition: all.3s;
	-o-transition: all.3s;
	-ms-transition: all.3s;
	transition: all.3s;
	cursor: pointer;
	overflow: hidden;
}
/*******************************
    Page Elements
*******************************/

/***GENERAL ACROSS ALL PAGES***/

/***GENERAL ACROSS ALL PAGES ENDS***/

/*******************************************************************
MEDIA QUERIES
********************************************************************/

@media (min-width: 370px) {
	#menuToggle input {
		right: 250px;
		/*opacity: 5;*/
	}
	#menuToggle span {
		margin-left: 62px;
	}
}
@media (min-width: 415px) {
	#menuToggle input {
		right: 211px;
		/*opacity: 5;*/
	}
	#menuToggle span {
		margin-left: 101px;
	}
	.new-lineEmail {
		display: none;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}
	a[href^="mailto:"], a[href^="tel:"] {
		font-size: 1.1em;
	}
}
@media (min-width: 500px) {
	#menuToggle input {
		right: 124px;
		/*opacity: 5;*/
	}
	#menuToggle span {
		margin-left: 189px;
	}
	#menu {
		width: 394px;
		margin: 0 0 0 98px;
		padding: 10px 50px 5px 10px;
	}
}
@media (min-width: 568px) {
	#menuToggle input {
		right: 62px;
		/*opacity: 5;*/
	}
	#menuToggle span {
		margin-left: 251px;
	}
	#menu {
		width: 404px;
		margin: 0 0 0 107px;
		padding: 10px 50px 5px 10px;
	}
	#menu li {
		text-align: center;
	}
}
@media (min-width: 600px) {
	#menuToggle input {
		right: 13px;
		/*opacity: 5;*/
	}
	#menuToggle span {
		margin-left: 300px;
	}
	#menu {
		width: 450px;
		margin: 0 0 0 126px;
		padding: 10px 50px 5px 10px;
	}
	#menu li {
		text-align: center;
	}
	p, address {
		font-size: 1.4em;
	}
	#commercial-wrapper h3, #lyrical-wrapper h3 {
		font-size: 1.8rem;
	}
	.back-to-top {
		font-size: 1.3rem;
	}
	.main-footer {
		height: 382px;
	}
}
@media (min-width: 640px), (min-width: 700px) and (min-width:760px) and (orientation: landscape) {
	#menuToggle, #menuToggle input, #menuToggle span, #menu {
		display: none;
	}
	/*
	#menu-nav {
		display: block;
		width: 250px;
		color: #fff;
	}*/
	.main-nav .flex-container, #menu-nav {
		display: flex;
		justify-content: space-between;
		/*border: 2px solid green;*/
	}
	#menu-nav {
		flex-direction: row;
		align-items: center;
	}
}
@media (min-width: 768px), (min-width: 1024px) and (orientation: landscape) {
	.main-logo {
		width: 300px;
	}
	.main-nav {
		height: 101px;
	}
	.inner-container h2 {
		font-size: 3em;
	}
	#dance-styles .flex-container {
		display: flex;
		/*border: 2px solid green;*/
	}
	.top-image, .bottom-image {
		max-width: 50%;
		margin-right: 335px;
	}
	#class-details h2 {
		font-size: 3em;
	}
	#class-details p, #class-details address {
		font-size: 2em;
	}
	.bottom-image {
		margin-left: 370px;
	}
}
@media (min-width: 1140px) {}